:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #888888;        /*grey-dark*/
  --basic-neutral: #F2F2F2;     /*grey-light*/
  --basic-extra-light: #81B3D2; /*blue*/
  --basic-white: #ffffff;

  --special-extra-brown: #503E33;
  --special-brown: #604E43;
  --special-light-brown: #766357;

  --special-extra-blue: #5496bd;
  --special-blue: #669ec0;
  --special-light-blue: #81b3d2;

  --special-light-grey: #BDBBBC;
  --special-grey: #A9A9A9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page_body {
  max-width: 1200px;
  min-height: 100%;
  background-color: var(--basic-white);
  position: relative;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  padding: 0;
}

.main_header {
  position: relative;
}

.main_header_logo {
  display: block;
  width: 138px;
  position: absolute;
  left: -69px;
  margin-left: 50%;
  z-index: 10;
}

.main_navigation {
  background-color: var(--basic-white);
  padding: 14px 72px;
  z-index: 10;
}

.site_navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.site_navigation li {
  width: 228px;
}

.site_navigation li:nth-child(2) {
  margin-right: auto;
}

.site_navigation li:nth-child(3),
.site_navigation li:nth-child(4) {
  text-align: right;
}

.site_navigation_link {
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-black);
}

.site_navigation_link:hover {
  color: var(--special-light-blue);
}

.site_navigation_link:active {
  color: var(--special-light-grey);
}

.header {
  position: relative;
  height: 512px;
  background-image: url("../img/background_photo.jpg");
}

.banner_inform {
  margin: auto;
  width: 457px;
  height: 350px;
  padding-top: 77px;
  psdding-bottom: 81px;
  text-align: center;
}

.shape {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/lightning.svg");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.clarification {
  text-align: center;
  margin: auto;
  padding-top: 42px;
  padding-bottom: 38px;
}

.clarification h1 {
  width: 470px;
  height: 80px;
  font-size: 21px;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.causes_item_town,
.causes_item_canyon {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  height: 256px;
  overflow: hidden;
}

.causes_town_canyon {
  width: 400px;
  background-color: var(--basic-extra-light);
  color: var(--basic-white);

  box-sizing: border-box;
  text-align: center;
}

.causes_town_canyon p {
  padding: 10px 46px 0px 48px;
}

.causes_town_canyon h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 27px 0px 2px;
}

.causes_town_canyon span,
.causes_town_canyon p {
  font-size: 14px;
  line-height: 21px;
}

/*причины*/
.causes {
  background-color: var(--basic-white);
  height: 330px;
}

.causes_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.causes_item {
  text-align: center;
  padding: 61px 4% 74px;
  width: 33.33%;
}

.icon {
  margin-top: 1px;
}

.icon1 {
  margin-top: -4px;
}

.causes_item h3 {
  font-size: 21px;
  line-height: 21px;
}

.causes_item span,
.causes_item p {
  font-size: 14px;
  line-height: 21px;
}

.causes_have {
  background-color: #EEEEEE;
  height: 256px;
}

.causes_have_list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.causes_have_item {
  text-align: center;
  padding: 61px 4% 34px;
  width: 33.33%;
}

.causes_have_item h3 {
  font-size: 21px;
  line-height: 21px;
  width: 119px;
  margin: 0px auto 23px;
}

.causes_have_item span,
.causes_have_item p {
  font-size: 14px;
  line-height: 21px;
  margin: 22px 15px;
}

.block {
  font-size: 30px;
  line-height: 24px;
  width: 435px;
  height: 148px;
  margin: auto;
  text-align: center;
  padding: 58px 6% 0;
  background-color: #FFFFFF;
}

.block h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.block p {
  font-size: 14px;
  line-height: 24px;
}

.search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search_header {
  display: block;
  width: 568px;
  margin: 0 auto;
  color: var(--basic-white);
  padding: 30px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--special-light-brown);

  text-transform: uppercase;
}

.search button:hover {
  background-color: var(--special-brown);
}

.search button:active {
  background-color: var(--special-extra-brown);
}

/*Form*/
/*.search_form {
  display: block;
  animation: zoom-in 0.9s ease-in-out;
}*/

.search_body {
  position: absolute;
  top: 85px;
  left: 0;
  width: 568px;
  padding: 57px 55px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 26px;
  text-align: right;
  font-weight: bold;
  background: #ffffff;
  z-index: 1;
}


.form_line input,
.form_line label,
.form_line svg
{
  margin-bottom: 32px;
}

.search_body .form_line {
  position: relative;
  width: 458px;
}

.search_body label {
  float: left;
  padding: 4px 0 7px;
}

.search_body .date {
  width: 346px;
  padding-right: 37px;
}

.search_body .field {
  line-height: 26px;
  padding: 3px 0px 8px 13px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
  background: #f2f2f2;
}

.search_body .field:hover {
  background: #ebebeb;
}

.search_body .field:focus {
  background: #FFFFFF;
  border: 2px solid #E5E5E5;
  box-sizing: border-box;
}

.search_body .icon_calendar {
  position: absolute;
  right: 6px;
  font-size: 21px;
  font-weight: 200;
  line-height: 38px;
  color: #c2c2c2;
  fill: #a9a9a9;

}

.icon_arrival {
  padding-top: 7px;
  padding-right: 3px;
}

.icon_departure {
  padding-top: 6px;
  padding-right: 3px;
}

.search_body .icon_calendar:hover {
  fill: #000000;
}

.search_body .icon_calendar:active {
  fill: #81b3d2;
}

.search_body .half_width {
  float: left;
  width: 49%;
}

.child {
  padding-left: 9px;
}

.child label {
  margin-left: 46px;
}

.half_width .unit_container {
  position: relative;
}

.unit_container .find_button {
  position: absolute;
  top: 3px;
  line-height: 26px;
  fill: #a9a9a9;
  background: #f2f2f2;
  border: none;
  outline: none;
  margin: 13px 8px;
}

.unit_container .find_button:hover {
  fill: #000000;
}

.unit_container .find_button:active {
  fill: #81B3D2;
}

.unit_container .minus_find_button {
  left: 117px;
}

.half_width .unit {
  width: 114px;
  padding-left: 55px;
  padding-right: 50px;
}

.half_width:first-child .plus_find_button {
  right: 4px;
  top: auto;
}
.unit_container .plus_find_button {
  right: 5px;
  top: auto;
}

.search_body .find_button_find {
  width: 458px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #81b3d2;
  border: none;
  outline: none;
  font-weight: bold;
  height: 56px;
  margin-top: 23px;
}

.search_body .find_button_find:hover {
  background: #669ec0;
}

.search_body .find_button_find:active {
  background: #5496bd;
}

.form_line input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}

/*Footer*/
.main_footer {
  opacity: 0.9;
  margin-top: -120px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgba(254, 254, 254, 0.85);
  position: relative;
  height: 120px;
}

.main_footer > div {
  width: 33.33%;
}

.contact {
  font-size: 21px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: #000;
  margin: 0px 0px 0px 74px;
}

.contact a:hover,
.contact a:focus {
  text-decoration: none;
}

.contact p {
  margin: 19px 0px 9px 72px;
}

.social h2 {
  font-size: 14px;
}

.social_list {
  margin: 0;
  padding: 34px 68px 0px 78px;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

/* Social button */
.social_list a {
  display: block;
  width: 46px;
  height: 48px;
  position: relative;
}

.social_list li {
  margin-right: 6px;
}

.social_button svg {
  margin-top: 15px;
  margin-left: 15px;
}

.social_button {
  background-color: var(--special-light-blue);
}
.social_button:hover {
  background-color: var(--special-blue);

}

.social_button:active {
  background-color: var(--special-extra-blue);
}

.footer_copyright {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 37px 74px 0px 0px;
}

.footer_copyright span {
  margin-right: 9px;
  margin-top: 10px;
}

.footer_copyright svg:hover {
  fill: var(--special-light-blue);
}

.footer_copyright svg:active {
  fill: var(--special-light-grey);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}


.map {
  background: url("../img/map.jpg") 50% 0 no-repeat;
  height: 593px;
}
