:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-dark: #888888;        /*grey-dark*/
  --basic-neutral: #F2F2F2;     /*grey-light*/
  --basic-white: #ffffff;

  --special-extra-brown: #503E33;
  --special-brown: #604E43;
  --special-light-brown: #766357;

  --special-extra-blue: #5496bd;
  --special-blue: #669ec0;
  --special-light-blue: #81B3D2;

  --special-light-grey: #BDBBBC;
  --special-grey: #A9A9A9;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page_body {
  max-width: 1200px;
  min-height: 100%;
  background-color: var(--basic-white);
  position: relative;
  -webkit-box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
  margin: 0 auto;
  padding: 0;
}

.main_header {
  position: relative;
}

.main_header_logo {
  display: block;
  width: 138px;
  position: absolute;
  left: -69px;
  margin-left: 50%;
  z-index: 10;
}

.main_navigation {
  background-color: var(--basic-white);
  padding: 14px 72px;
  z-index: 10;
}

.site_navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.site_navigation li {
  width: 228px;
}

.site_navigation li:nth-child(2) {
  margin-right: auto;
}

.site_navigation li:nth-child(3),
.site_navigation li:nth-child(4) {
  text-align: right;
}

.site_navigation_link {
  font-weight: bold;
  text-decoration: none;
  color: var(--basic-black);
}

.site_navigation_link:hover {
  color: var(--special-light-blue);
}

.site_navigation_link:active {
  color: var(--special-light-grey);
}

.header {
  position: relative;
  min-height: 513px;
  background: #81B3D2 url("../img/photo.jpg") no-repeat 50% 0;
}

.banner_inform {
  margin: auto;
  width: 457px;
  height: 350px;
  padding-top: 77px;
  psdding-bottom: 81px;
  text-align: center;
}

.shape {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/lightning.svg");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.clarification {
  text-align: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 38px;
}

.clarification h1 {
  width: 470px;
  height: 80px;
  font-size: 21px;
  margin: 0 auto;
}

.text {
  text-align: center;
  color: var(--basic-extra-dark);
}

.causes_item_town,
.causes_item_canyon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 256px;
  overflow: hidden;
}

.causes_town_canyon {
  width: 400px;
  background-color: var(--special-light-blue);
  color: var(--basic-white);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  min-height: 256px;
}

.causes_town_canyon p {
  padding: 10px 46px 0px 48px;
}

.causes_town_canyon h3 {
  font-size: 21px;
  line-height: 21px;
  padding: 27px 0px 2px;
}

.causes_town_canyon span,
.causes_town_canyon p {
  font-size: 14px;
  line-height: 21px;
}

/*причины*/
.causes {
  background-color: var(--basic-white);
  height: 330px;
}

.causes_list {
  min-height: 330px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.causes_item {
  text-align: center;
  padding: 61px 4% 74px;
  width: 33.33%;
}

.icon {
  margin-top: 1px;
}

.icon1 {
  margin-top: -4px;
}

.causes_item h3 {
  font-size: 21px;
  line-height: 21px;
}

.causes_item span,
.causes_item p {
  font-size: 14px;
  line-height: 21px;
}

.causes_item span {
  color: var(--basic-extra-dark);
}

.causes_have {
  background-color: #EEEEEE;
  height: 256px;
}

.causes_have_list {
  height: 256px;
  min-height: 256px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.causes_have_item {
  text-align: center;
  padding: 61px 4% 34px;
  width: 33.33%;
}

.causes_have_item h3 {
  font-size: 21px;
  line-height: 21px;
  width: 119px;
  margin: -13px auto 23px;
}

.causes_have_item span,
.causes_have_item p {
  font-size: 14px;
  line-height: 21px;
  margin: 22px 15px;
  color: var(--basic-extra-dark);
}

.block {
  font-size: 30px;
  line-height: 24px;
  width: 435px;
  height: 148px;
  margin: auto;
  text-align: center;
  padding: 58px 6% 0;
  background-color: var(--basic-white);
  min-height: 148px;
  overflow: hidden;
}

.block h3 {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.block p {
  font-size: 14px;
  line-height: 24px;
  padding-top: 4px;
}

.search {
  position: relative;
  width: 568px;
  margin: 0 auto;
}

.search_header {
  display: block;
  width: 568px;
  margin: 0 auto;
  color: var(--basic-white);
  padding: 30px 0 30px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--special-light-brown);
  text-transform: uppercase;
}

.search button:hover {
  background-color: var(--special-brown);
}

.search button:active {
  background-color: var(--special-extra-brown);
  color: rgba(255, 255, 255, 0.3);
}

/*Form*/
.search_body {
  position: absolute;
  top: 85px;
  left: 0;
  width: 568px;
  padding: 57px 55px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 26px;
  text-align: right;
  font-weight: bold;
  background: var(--basic-white);
  z-index: 1;
}

.form_line input,
.form_line label,
.form_line svg
{
  margin-bottom: 28px;
}

.search_body .form_line {
  position: relative;
  width: 458px;
}

.search_body label {
  float: left;
  padding: 4px 0 7px;
}

.search_body .date {
  width: 346px;
  padding-right: 37px;
}

.search_body .field {
  line-height: 26px;
  padding: 3px 0px 8px 13px;
  border: 2px solid transparent;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-transform: uppercase;
  background: var(--basic-neutral);
  font-family: "PT Sans", Arial, sans-serif;
  color: var(--basic-black);
}

.search_body .field:hover {
  background: #ebebeb;
}

.search_body .field:focus {
  background: var(--basic-white);
  border: 2px solid #E5E5E5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.search_body .icon_calendar {
  position: absolute;
  right: 6px;
  font-size: 21px;
  font-weight: 200;
  line-height: 38px;
  color: #c2c2c2;
  fill: var(--special-grey);
}

.icon_arrival {
  padding-top: 7px;
  padding-right: 3px;
}

.icon_departure {
  padding-top: 6px;
  padding-right: 3px;
}

.search_body .icon_calendar:hover {
  fill: var(--basic-black);
}

.search_body .icon_calendar:active {
  fill: var(--special-light-blue);
}

.search_body .half_width {
  float: left;
  width: 49%;
}

.child {
  padding-left: 9px;
}

.child label {
  margin-left: 46px;
}

.half_width .unit_container {
  position: relative;
}

.unit_container .find_button {
  position: absolute;
  top: 3px;
  line-height: 26px;
  fill: var(--special-grey);
  background: var(--basic-neutral);
  border: none;
  outline: none;
  margin: 13px 8px;
}

.unit_container .find_button:hover {
  fill: var(--basic-black);
}

.unit_container .find_button:active {
  fill: var(--special-light-blue);
}

.unit_container .minus_find_button {
  left: 117px;
}

.half_width .unit {
  width: 114px;
  padding-left: 54px;
  padding-right: 46px;
}

.half_width:first-child .plus_find_button {
  right: 4px;
  top: auto;
}
.unit_container .plus_find_button {
  right: 5px;
  top: auto;
}

.search_body .find_button_find {
  width: 458px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--special-light-blue);
  border: none;
  outline: none;
  font-weight: bold;
  height: 56px;
  margin-top: 22px;
}

.search_body .find_button_find:hover {
  background: var(--special-blue);
}

.search_body .find_button_find:active {
  background: var(--special-extra-blue);
}

.form_line input {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
}

/*Footer*/
.main_footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: -120px;
  min-height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}

.contact {
  font-size: 21px;
  font-weight: bold;
  color: var(--basic-black);
  text-decoration: none;
  text-align: center;
}

.contact a {
  text-decoration: none;
  color: var(--basic-black);
  margin: 0px 0px 0px 74px;
}

.contact a:hover,
.contact a:focus {
  text-decoration: none;
}

.contact p {
  margin: -23px -73px 8px 0px;
}

.social h2 {
  font-size: 14px;
}

.social_list {
  margin: 0;
  padding: 0px 71px 5px 78px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Social button */
.social_list a {
  display: block;
  width: 46px;
  height: 48px;
  position: relative;
}

.social_list li {
  margin-right: 6px;
}

.social_button svg {
  margin-top: 15px;
  margin-left: 15px;
}

.social_button {
  background-color: var(--special-light-blue);
}
.social_button:hover {
  background-color: var(--special-blue);
}

.social_button:active {
  background-color: var(--special-extra-blue);
}

.footer_copyright {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0px 74px 0px 0px;
}

.footer_copyright span {
  margin-right: 9px;
  margin-top: 10px;
}

.footer_copyright svg:hover {
  fill: var(--special-light-blue);
}

.footer_copyright svg:active {
  fill: var(--special-light-grey);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.map {
  background: #228B22 url("../img/map.jpg") no-repeat 50% 0;
  height: 593px;
}

/*Hotels*/
[class^="icon_"]::before,
[class*=" icon_"]::before {
  display: inline-block;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  vertical-align: top;
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon_up::before { content: "\25b2"; } /* "▲" */
.icon_down::before { content: "\25bc"; } /* "▼" */
.icon_star::before { content: "\2605"; } /* "★" */


.main_header_hotels {
  margin-bottom: 14px;
}
.filter_catalog {
  margin-top: -14px;
}

.site_navigation_link_active {
  color: var(--special-light-brown);
}

.filter_block {
  width: 100%;
  color: var(--basic-white);
  background: #81B3D2 url("../img/page_hotels.jpg") no-repeat 50% 0;
  height: 217px;
  margin-bottom: 5px;
}

.filter_block input[type="checkbox"] {
  display: none;
}

.filter_head {
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
}

.filter_infrastructure,
.filter_type_house {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 12px 8px 30px;
  padding-left: 22px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 217px;
}

.filter_infrastructure {
  padding-left: 72px;
}

.click {
  margin-left: 40px;
  cursor: pointer;
  position: relative;
  margin-bottom: 21px;
  line-height: 25px;
}

.click::after,
.click::before {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  width: 27px;
  height: 23px;
  top: 0;
  left: -40px;
}

.click::after {
  background-image: url("../img/turn_on.svg");
  display: none;
}

.click::before {
  background-image: url("../img/turn_off.svg");
}

.filter_infrastructure input:checked + .click::after,
.filter_type_house input:checked + .click::after {
  display: block;
}

.price_range {
  display: inline-block;
  width: 49%;
  padding-top: 12px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.filter_range {
  float: right;
  width: 330px;
  margin-right: 66px;
}

.coast {
  margin-left: 11px;
  margin-bottom: 10px;
}

.coast_price {
  position: relative;
  height: 32px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: 11px;
  margin-bottom: 22px;
}

.coast_price label {
  display: inline-block;
  width: 85px;
  margin-left: 64px;
  line-height: 32px;
  vertical-align: top;
  cursor: pointer;
}

.price_min input, .price_max input {
  color: var(--basic-white);
}

.coast_price .price_max {
  margin-left: 57px;
  margin-bottom: 11px;
}

.coast_price input {
  width: 40px;
  border: none;
  background: none;
  outline: none;
}

.coast_price::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.range_controls {
  position: relative;
  margin-left: 12px;
  margin-bottom: 32px;
}

.range_controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range_controls .strip {
  height: 2px;
  width: 80%;
  background: var(--basic-white);
}

.range_controls .range_toggle {
  position: absolute;
  top: -10px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range_controls .range_toggle:hover {
  width: 5px;
  height: 5px;
}

.range_controls .min_range_toggle {
  left: 0;
}

.range_controls .max_range_toggle {
  left: 253px;
}

.filter_range .button_show {
  display: block;
  margin: 33px auto 33px;
  padding: 6px 33px;
  line-height: 21px;
  text-transform: uppercase;
  background: none;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  color: var(--basic-white);
}

.filter_range .button_show:hover {
  color: var(--basic-black);
  background: var(--basic-white);
}

.filter_hotels {
  border-bottom: 1px solid #e5e5e5;
}

.filter_hotels .found_hotels {
  display: inline-block;
  width: 233px;
  padding: 26px 0px;
  padding-left: 72px;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.found_hotels span {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.filter_hotels .sorting_hotels {
  display: inline-block;
  width: 770px;
  padding: 29px 0 32px;
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
}

.sorting_hotels .sorting_hotels_filters {
  display: inline-block;
  padding: 0px;
  margin: 0;
  vertical-align: top;
}

.sorting_hotels_filters li {
  display: inline-block;
  padding-left: 30px;
  list-style: none;
  vertical-align: top;
}

.sorting_hotels_filters li:first-child {
  padding-left: 37px;
}

.sorting_hotels_filters a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81B3D2;
}

.sorting_hotels_filters a:hover {
  color:  var(--special-light-blue);
}

.sorting_hotels_filters a:active {
  color: var(--basic-black);
}

.sorting_hotels_filters .by_price {
  color: var(--special-light-blue);
  border: none;
  cursor: text;
}

.filter_hotels .sorting_hotels_icon {
  display: inline-block;
  width: 185px;
  padding: 30px 0 27px;
  padding-right: 66px;
  text-align: right;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sorting_hotels_icon a {
  display: inline-block;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  vertical-align: top;
}

.sorting_hotels_icon .icon_down::before,
.sorting_hotels_icon .icon_up::before {
  margin: 5px 0px 0px 2px;
}

.sorting_hotels_icon .current {
  color: var(--special-light-blue);
  cursor: default;
}

.sorting_hotels_icon a:hover {
  color: var(--basic-black);
  cursor: default;
}

.sorting_hotels_icon a:active {
  color: var(--special-light-blue);
}

.hotels {
  background: var(--basic-white);
  border-bottom: 1px solid #e5e5e5;
}

.hotels .photo {
  display: inline-block;
  width: 234px;
  padding: 30px 0;
  padding-left: 72px;
  line-height: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hotels img {
  width: 135px;
  height: 90px;
}

.hotels .hotel_information {
  display: inline-block;
  padding-top: 22px;
  padding-bottom: 24px;
  width: 770px;
  vertical-align: top;
}

.hotel_title a {
  display: inline-block;
  margin-bottom: 7px;
  line-height: 29px;
  color: inherit;
  text-decoration: none;
  vertical-align: top;
}

.hotel_title a:hover {
  color: var(--special-light-blue);
}

.hotel_title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel_information h2 {
  font-size: 21px;
  margin-top: 0px;
  margin-bottom: -5px;
}

.hotel_information .hotel_type {
  display: inline-block;
  width: 95px;
  margin-right: 17px;
  vertical-align: top;
}

.hotel_information span {
  display: block;
  margin-bottom: 14px;
  color: var(--basic-extra-dark);
}

.hotel_information .button {
  display: inline-block;
  padding: 1px 16px;
  margin-right: 6px;
  vertical-align: top;
  font-weight: 500;
  text-decoration: none;
}

.hotel_information .hotel_type_button {
  color: var(--basic-white);
  background-color: var(--special-light-blue);
}

.hotel_information .hotel_type_button:hover {
  background-color: var(--special-blue);
}

.hotel_information .hotel_type_button:active {
  background-color: var(--special-extra-blue);
  color: rgba(255, 255, 255, 0.3);
}

.hotel_information .hotel_reserve {
  display: inline-block;
  width: 142px;
  vertical-align: top;
}

.hotel_information .hotel_reserve_button {
  color: var(--basic-white);
  background-color: var(--special-light-brown);
}

.hotel_information .hotel_reserve_button:hover {
  background-color: var(--special-brown);
}

.hotel_information .hotel_reserve_button:active {
  background-color: var(--special-extra-brown);
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  float: right;
  width: 185px;
  padding-top: 24px;
}

.rating .rating_stars {
  float: right;
  margin-right: 72px;
  margin-bottom: 40px;
  font-size: 22px;
  color: var(--special-light-blue);
}

.rating_stars .icon_star {
  padding: 0px;
}

.rating_stars .icon_star::before {
  margin: 0px;
}

.rating .rating_in_numbers {
  float: right;
  padding: 3px 13px;
  margin-right: 72px;
  background: var(--basic-neutral);
}

.rating_in_numbers {
  color: #666666;
}

.modal_show {
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.display_none {
  display: none;
}
